* {
  font-family: "Roboto";
  font-weight: 400;
}

.container {
  width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  transition: background-color 250ms linear 100ms, box-shadow 300ms linear 100ms, transform 500ms linear 100ms;
}

button:hover {
  background-color: #8333b5;
  box-shadow: 1px 2px 5px 3px #3a0b57;
  transform: scale(1.025);
}

.header {
  background-color: #012d63;
  padding-top: 30px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nike {
  width: 100px;
  height: 60px;
}

.header__link {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
  color: #c7c7c7;
}

.header__pages {
  display: flex;
  gap: 29px;
  margin-left: 152px;
}

.header__list {
  display: flex;
  gap: 12px;
  margin-left: auto;
}

.header__item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
  color: #dcdcdc;
}

.hero {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url(../../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: lightgray;
}

.hero__container {
  position: relative;
  padding-bottom: 286px;
}

.hero__abr {
  font-family: "PT Serif";
  font-size: 48px;
  line-height: 1.33;
  color: #ffffff;
}

.hero__title {
  font-family: "Playfair Display";
  font-size: 144px;
  line-height: 1.33;
  color: #ffffff;
  animation: title-to-right 2000ms ease-out 400ms both;
}

@keyframes title-to-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    text-shadow: 2px 3px 4px violet;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes run-to-left {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hero__subtitle {
  font-family: "Playfair Display";
  font-size: 72px;
  line-height: 1.36;
  color: #ffffff;
  margin-bottom: 12px;
  z-index: 3;
  position: relative;
  animation: run-to-left 1000ms ease-in 400ms both;
}

.hero__text {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
  width: 508px;
  margin-bottom: 41px;
}

.hero__button {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  padding: 20px 61px;
  background-color: #8e32c6;
  border-radius: 10px;
  border: none;
  animation: ranToTop 1.5s cubic-bezier(0.16, 0.95, 0.28, 0.82) 400ms both;
}

@keyframes ranToTop {
  0% {
    transform: translateY(250px) scale(0.5) rotate(180deg);
  }
  100% {
    transform: translateY(0);
  }
}
.hero__logo {
  width: 160px;
  height: 120px;
}

.hero__image {
  width: 837px;
  height: 403px;
  transform-origin: bottom left;
  transform: rotate(-30deg);
  position: absolute;
  left: 478px;
  /* top: 387px; */
  bottom: 0;
}

.proses__section {
  background-image: url(../../images/proses-bg.jpg);
  padding-top: 55px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
}

.proses__list {
  display: flex;
  gap: 90px;
  justify-content: center;
}

.proses__box {
  display: flex;
  align-items: center;
}

.proses__item {
  height: 470px;
  background-image: url(../../images/proses-line.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
}

.proses__text {
  font-family: "Salsa";
  font-size: 170px;
  /* line-height: 1.69; */
  color: #ffffff;
}

.proses__title {
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 1.33;
  color: #ffffff;
  margin-left: 5px;
}

.boots {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url(../../images/boots-bg.jpg);
  background-repeat: no-repeat;
}

.boots__line {
  width: 403px;
  height: 183px;
  position: absolute;
  top: 95px;
  right: -11px;
}

.boots__container {
  padding-top: 42px;
  padding-bottom: 97px;
  position: relative;
}

.boots__box {
  display: flex;
}

.boots__border {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 130px;
  height: 130px;
  position: absolute;
  top: 258px;
  right: 371px;
}

.boots__img {
  width: 835px;
  height: 400px;
}

.boots__title {
  font-family: "Playfair Display";
  font-size: 28px;
  line-height: 1.35;
  color: #ffffff;
  margin-left: auto;
}

.boots__list {
  display: flex;
  padding: 26px 65px;
  background: linear-gradient(91.33deg, #8e32c6 15.44%, #d600c0 69.67%);
  border-radius: 15px;
  width: 715px;
  height: 85px;
  justify-content: space-between;
}

.boots__text {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.18;
  color: #ffffff;
}

.boots__content {
  padding-left: 55px;
  padding-top: 38px;
}

.reviews {
  background-image: url(../../images/reviews-bc.jpg);
  padding-top: 30px;
  padding-bottom: 88px;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__list {
  display: flex;
  margin-top: 42px;
  gap: 93px;
  justify-content: center;
}

.reviews__item {
  padding: 49px 14px 29px 13px;
  width: 255px;
}

.reviews__item:nth-child(1) {
  background: linear-gradient(136.55deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  border-radius: 15px;
}

.reviews__item:nth-child(2) {
  background: linear-gradient(136.55deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
  border-radius: 15px;
}

.reviews__item:nth-child(3) {
  background: linear-gradient(142.67deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
  border-radius: 15px;
}

.reviews__title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.reviews__text {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.reviews__photo {
  width: 31px;
  height: 31px;
}

.reviews__time {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  color: #d8d8d8;
  display: block;
  margin-top: 8px;
  margin-bottom: 47px;
}

.who-img-revievs {
  display: flex;
}

.who-reviews {
  margin-left: 5px;
}

.reviews__name {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 1px;
}

.reviews__info {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  color: #d8d8d8;
}

.order {
  max-width: 1440px;
  padding-top: 21px;
  padding-bottom: 38px;
  margin: auto;
  background-image: url(../../images/order-bc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.order__item:first-child {
  position: relative;
  max-width: 690px;
  margin: 0 auto;
}

.order__item:first-child .order__input1::-moz-placeholder {
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 13px;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.17;
  color: #959595;
}

.order__item:first-child .order__input1::placeholder {
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 13px;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.17;
  color: #959595;
}

.button__confirm {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  border: solid #000000;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.18;
  background-color: #ffffff;
  color: #8d8d8d;
}

.order__input1 {
  width: 690px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #000000;
  border-radius: 50px;
}

.order__input {
  display: block;
  width: 580px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50px;
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
}

.order__input::-moz-placeholder {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #959595;
}

.order__input::placeholder {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #959595;
}

.order__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  padding: 20px 49px 20px 48px;
  border-radius: 16px;
  border: none;
  display: block;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  background-color: #8e32c6;
}

.footer {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #021635;
}

.footer-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer-text {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.footer-country-img-nike-abr {
  display: flex;
  justify-content: space-between;
}

.div-footer-country {
  margin-top: 44px;
}

.footer-mail {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer-country {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
  margin-top: 7px;
}

.footer-abr {
  font-family: "PT Serif";
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
}

.footer-img-nike {
  width: 108px;
  height: 81px;
  padding-top: 19px;
}/*# sourceMappingURL=style.css.map */