h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
}

button {
  cursor: pointer;
  transition: background-color 250ms linear 100ms, box-shadow 300ms linear 100ms, transform 500ms linear 100ms;
  display: block;
  border: none;
}

button:hover {
  background-color: #8333b5;
  box-shadow: 1px 2px 5px 3px #3a0b57;
  transform: scale(1.025);
}

* {
  font-family: "Roboto";
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1130px;
  }
}

.header {
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .header {
    background-color: #012d63;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__nike {
  width: 100px;
  height: 60px;
}
.header__menu {
  border: none;
  background-color: transparent;
  width: 45px;
  height: 25px;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .header__menu {
    display: none;
  }
}
.header__svg {
  width: 45px;
  height: 25px;
  fill: #8E32C6;
}
.header__pages {
  display: none;
  gap: 29px;
  margin-left: 152px;
  padding-bottom: 33px;
}
@media screen and (min-width: 1200px) {
  .header__pages {
    display: flex;
  }
}
.header__link {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
  color: #c7c7c7;
}
.header__list {
  display: none;
  gap: 12px;
  margin-left: auto;
  padding-bottom: 33px;
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
  }
}
.header__item {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 24px;
  line-height: 1.17;
  color: #dcdcdc;
}

@media screen and (min-width: 1200px) {
  body {
    padding-top: 81px;
  }
}

.hero {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: lightgray;
}
.hero__container {
  position: relative;
  padding-bottom: 286px;
  overflow: hidden;
}
.hero__logo {
  width: 160px;
  height: 120px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .hero__logo {
    display: block;
  }
}
.hero__abr {
  font-family: "PT Serif";
  font-size: 48px;
  line-height: 1.33;
  color: #ffffff;
}
.hero__title {
  font-family: "Playfair Display";
  font-size: 64px;
  line-height: 1.33;
  color: #ffffff;
  animation: title-to-right 2000ms ease-out 400ms both;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 144px;
  }
}
@keyframes title-to-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  50% {
    text-shadow: 2px 3px 4px violet;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes run-to-left {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hero__subtitle {
  position: relative;
  margin-bottom: 12px;
  z-index: 3;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 1.36;
  color: #ffffff;
  animation: run-to-left 1000ms ease-in 400ms both;
}
@media screen and (min-width: 1200px) {
  .hero__subtitle {
    font-size: 72px;
  }
}
.hero__text {
  max-width: 508px;
  margin-bottom: 41px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
}
.hero__button {
  max-width: 238px;
  padding: 15px 53px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  background-color: #8e32c6;
  animation: ranToTop 1.5s cubic-bezier(0.16, 0.95, 0.28, 0.82) 400ms both;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 20px 61px;
    max-width: 254px;
    margin: 0;
  }
}
@keyframes ranToTop {
  0% {
    transform: translateY(250px) scale(0.5) rotate(180deg);
  }
  100% {
    transform: translateY(0);
  }
}

.proses__section {
  padding-top: 55px;
  padding-bottom: 80px;
  background-image: url(../images/proses-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.proses__section .proses__list {
  display: flex;
  justify-content: center;
  gap: 90px;
}
.proses__section .proses__list .proses__item {
  width: 300px;
  height: 470px;
  background-image: url(../images/proses-line.png);
  background-repeat: no-repeat;
  background-position: center;
}
.proses__section .proses__list .proses__item .proses__box {
  display: flex;
  align-items: center;
}
.proses__section .proses__list .proses__item .proses__box .proses__text {
  font-family: "Salsa";
  font-size: 170px;
  /* line-height: 1.69; */
  color: #ffffff;
}
.proses__section .proses__list .proses__item .proses__box .proses__title {
  margin-left: 5px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 1.33;
  color: #ffffff;
}

.boots {
  margin: 0 auto;
  max-width: 1440px;
  background-image: url(../images/boots-bg.jpg);
  background-repeat: no-repeat;
}
.boots__container {
  position: relative;
  padding-top: 42px;
  padding-bottom: 97px;
}
.boots__box {
  display: flex;
}
.boots__img {
  width: 835px;
  height: 400px;
}
.boots__title {
  margin-left: auto;
  font-family: "Playfair Display";
  font-size: 28px;
  line-height: 1.35;
  color: #ffffff;
}
.boots__content {
  padding-left: 55px;
  padding-top: 38px;
}
.boots__list {
  display: flex;
  justify-content: space-between;
  padding: 26px 65px;
  width: 715px;
  height: 85px;
  background: linear-gradient(91.33deg, #8e32c6 15.44%, #d600c0 69.67%);
  border-radius: 15px;
}
.boots__text {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.18;
  color: #ffffff;
}
.boots__border {
  position: absolute;
  top: 258px;
  right: 371px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.boots__line {
  position: absolute;
  top: 95px;
  right: -11px;
  width: 403px;
  height: 183px;
}

.reviews {
  padding-top: 30px;
  padding-bottom: 88px;
  background-image: url(../images/reviews-bc.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.reviews__list {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  gap: 93px;
}

.reviews__item {
  padding: 49px 14px 29px 13px;
  width: 255px;
}

.reviews__item:nth-child(1) {
  border-radius: 15px;
  background: linear-gradient(136.55deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
}

.reviews__item:nth-child(2) {
  border-radius: 15px;
  background: linear-gradient(136.55deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
}

.reviews__item:nth-child(3) {
  border-radius: 15px;
  background: linear-gradient(142.67deg, #ffe128 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
}

.reviews__text {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.reviews__time {
  display: block;
  margin-top: 8px;
  margin-bottom: 47px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  color: #d8d8d8;
}

.who-img-revievs {
  display: flex;
}

.reviews__photo {
  width: 31px;
  height: 31px;
}

.who-reviews {
  margin-left: 5px;
}

.reviews__name {
  margin-bottom: 1px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.reviews__info {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.17;
  color: #d8d8d8;
}

.order {
  max-width: 1440px;
  padding-top: 21px;
  padding-bottom: 38px;
  margin: auto;
  background-image: url(../images/order-bc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.order__title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}

.order__item:first-child {
  position: relative;
  max-width: 690px;
  margin: 0 auto;
}

.order__item:first-child .order__input1::-moz-placeholder {
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 13px;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.17;
  color: #959595;
}

.order__item:first-child .order__input1::placeholder {
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 13px;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.17;
  color: #959595;
}

.button__confirm {
  position: absolute;
  top: 5px;
  right: 7px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  border: solid #000000;
  font-family: "Roboto";
  font-size: 28px;
  line-height: 1.18;
  background-color: #ffffff;
  color: #8d8d8d;
}

.order__input1 {
  width: 690px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #000000;
  border-radius: 50px;
}

.order__input {
  display: block;
  width: 580px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 50px;
  margin-top: 19px;
  margin-left: auto;
  margin-right: auto;
}

.order__input::-moz-placeholder {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #959595;
}

.order__input::placeholder {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #959595;
}

.order__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  padding: 20px 49px 20px 48px;
  border-radius: 16px;
  border: none;
  display: block;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
  background-color: #8e32c6;
}

.footer {
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: #021635;
}

.footer__item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.footer__text {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.footer__mail {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 1.17;
  text-decoration-line: underline;
  color: #ffffff;
}

.footer__country-img-nike-abr {
  display: flex;
  justify-content: space-between;
}

.div__footer__country {
  margin-top: 44px;
}

.footer__country {
  margin-top: 7px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.17;
  color: #ffffff;
}

.footer__img-nike {
  width: 108px;
  height: 81px;
  padding-top: 19px;
}

.footer__abr {
  font-family: "PT Serif";
  font-size: 24px;
  line-height: 1.33;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  opacity: 1;
  overflow: scroll;
  transition: opacity 350ms linear 100ms, visibility 250ms linear 100ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  padding-top: 101px;
  padding-bottom: 117px;
  margin: auto;
  background-image: url(../images/modal-flowers.webp), url(../images/modal-bg.webp);
  background-repeat: no-repeat;
  background-position: bottom left, center;
  background-size: 355px 455px, cover;
  transform: translate(-50%, -50%);
  overflow: scroll;
}

.no-scroll {
  overflow: hidden;
}

.modal__form {
  width: 575px;
}

.modal__close {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 20px 49px 20px 48px;
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  border: none;
  color: #ffffff;
  background-color: #8e32c6;
}

.form-content {
  width: 575px;
  height: 280px;
  padding: 15px 14px 22px 19px;
  background: rgba(168, 168, 168, 0.26);
}

.modal__text {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.modal__wraper {
  display: flex;
}

.modal__payment {
  margin-top: 10px;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal__payment div {
  display: flex;
  flex-direction: column;
}

.modal__number {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.modal__card {
  width: 194px;
  height: 32px;
  border: 1px solid #000;
  color: #808080;
  font-size: 18px;
  font-weight: 400;
  background: #2C4D74;
  display: block;
}

.modal__date {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.modal__expired {
  width: 66px;
  height: 32px;
  border: 1px solid #000;
  background: #2C4D74;
  display: block;
}

.modal__cvc {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.modal__code {
  width: 66px;
  height: 32px;
  border: 1px solid #000;
  background: #2C4D74;
  display: block;
}

.modal__img {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.modal__images {
  display: flex;
  gap: 23px;
}

.modal__visa {
  width: 125.656px;
  height: 90.647px;
  padding: 28px 10px 28px 10px;
  background: #fff;
}

.modal__mastercard {
  width: 125.656px;
  height: 90.647px;
  padding: 13px 10px 13px 9px;
  background: #fff;
}

.checkbox-box {
  position: relative;
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.modal__checkbox {
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__checkbox:checked + .modal__custom > .modal__check {
  opacity: 1;
}

.modal__custom {
  position: absolute;
  right: 125px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8e32c6;
}

.modal__check {
  fill: white;
  opacity: 0;
}

.modal__remember {
  display: block;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
}

.modal__order {
  margin-top: 25px;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

.modal__label {
  position: relative;
  display: block;
}

.modal__name {
  width: 580px;
  height: 50px;
  padding: 7px 108px 8px 22px;
  margin-bottom: 28px;
  border-radius: 50px;
  border: 1px solid #000;
  background: #FFF;
  color: #959595;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
}

.modal__name:hover,
.modal__name:focus {
  outline: 0;
  box-shadow: 5px 5px 10px 5px #8e32c6;
}

.modal__icon {
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
}

.modal__name:focus + .modal__icon,
.modal__name:hover + .modal__icon {
  fill: #8e32c6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: #959595;
}

.modal__size {
  width: 580px;
  height: 50px;
  padding: 7px 313px 8px 22px;
  margin-bottom: 27px;
  border: 1px solid #000;
  border-radius: 50px;
  background: #FFF;
  color: #959595;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
}

.modal__border {
  width: 220px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #FFF;
  display: flex;
  align-items: center;
  margin-left: 180px;
  margin-right: 180px;
}

.modal__sneaker {
  width: 205px;
  height: 100px;
}

.modal__price {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.modal__button {
  width: 255px;
  height: 70px;
  margin-left: 163px;
  margin-right: 162px;
  border-radius: 10px;
  background: #8e32c6;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */