.container {
    outline: solid red;
    width: 1137px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
 /* header */
.header {
    background-color: #012D63;
    padding-top: 30px;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nike {
    width: 100px;
    height: 60px;
}

.header-link {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;

    color: #C7C7C7;

}

.header-pages {
    display: flex;
    gap: 29px;
    margin-left: 152px;
}

.header-list {
    display: flex;
    gap: 12px;
    margin-left: auto;
}

.header-item {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;

    color: #DCDCDC;

}
/* hero */
.hero{
    background-image: url(../images/hero-bg.jpg);
    padding-bottom: 286px;
}

.hero-abr {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.33;
    color: #FFFFFF;

}

.hero-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 144px;
    line-height: 1.33;
    color: #FFFFFF;
}

.hero-subtitle {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 72px;
    line-height: 1.36;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.hero-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: #FFFFFF;
    width: 508px;
    margin-bottom: 41px;
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    padding: 20px 61px;
    background-color: #8E32C6;
    border-radius: 10px;
    border: none;
}

.hero-logo{
    width: 160px;
    height: 120px;
}
/* proses */

.proses-section{
    background-image: url(../images/proses-bg.jpg);
    padding-top: 55px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: center;
}

.proses-list {
    display: flex;
    gap: 90px;
    justify-content: center;
}

.proses-box {
    display: flex;
    align-items: center;
}

.proses-item {
    height: 470px;
    background-image: url(../images/proses-line.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
}

.proses-text {
    font-family: 'Salsa';
    font-weight: 400;
    font-size: 170px;
    /* line-height: 1.69; */

    color: #FFFFFF;


}


.proses-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.33;
    color: #FFFFFF;
    margin-left: 5px;
}



/* boots */

.boots {
    background-image: url(../images/boots-bg.jpg);
    padding-top: 42px;
    padding-bottom: 97px;
}

.boots-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.35;

    color: #FFFFFF;
    margin-left: 67px;
}

.boots-box {
    display: flex;
}

.boots-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.18;

    color: #FFFFFF;
}

.boots-img {
    width: 835px;
height: 400px;
}

.reviews-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;

    color: #FFFFFF;

}

.reviews-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;

    color: #FFFFFF;

}

.reviews-time {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #D8D8D8;

}

.reviews-name {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;

    color: #FFFFFF;

}

.reviews-info {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;


    color: #D8D8D8;

}


.order-title {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.33;


    color: #FFFFFF;

}

.button-confirm {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.18;

    color: #8D8D8D;

}


.order-item:first-child .order-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    line-height: 1.17;

    color: #959595;

}

.order-input::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;

    color: #959595;

}

.order-button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;

    color: #FFFFFF;

}

.footer-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;

    color: #FFFFFF;

}

.footer-mail {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    text-decoration-line: underline;

    color: #FFFFFF;

}

.footer-country {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;


    color: #FFFFFF;

}

.footer-abr {
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.33;

    color: #FFFFFF;

}