.boots {
    margin: 0 auto;
    max-width: 1440px;
    background-image: url(../../images/boots-bg.jpg);
    background-repeat: no-repeat;
  }
  
  .boots__line {
    width: 403px;
    height: 183px;
    position: absolute;
    top: 95px;
    right: -11px;
  }
  
  .boots__container {
    padding-top: 42px;
    padding-bottom: 97px;
    position: relative;
  }
  
  .boots__box {
    display: flex;
  }
  
  .boots__border {
    border-radius: 50%;
    border: 2px solid #fff;
    width: 130px;
    height: 130px;
    position: absolute;
    top: 258px;
    right: 371px;
  }
  
  .boots__img {
    width: 835px;
    height: 400px;
  }
  
  .boots__title {
    font-family: 'Playfair Display';
    
    font-size: 28px;
    line-height: 1.35;
  
    color: $main-color;
    margin-left: auto;
  }
  
  .boots__list {
    display: flex;
    padding: 26px 65px;
    background: linear-gradient(91.33deg, #8e32c6 15.44%, #d600c0 69.67%);
    border-radius: 15px;
    width: 715px;
    height: 85px;
    justify-content: space-between;
  }
  
  .boots__text {
    font-family: $main-font;
    
    font-size: 28px;
    line-height: 1.18;
  
    color: $main-color;
  }
  
  .boots__content {
    padding-left: 55px;
    padding-top: 38px;
  }