.boots {
  margin: 0 auto;
  max-width: 1440px;
  // height: 417px;
  background-repeat: no-repeat;
  background-image: url(../../images/boots-flowers1.png), url(../../images/boots-flowers2.png), url(../../images/boots-bg-mob.jpg);
  background-position: 0px 164px, right 125px, center;
  background-size: 96px 197px , 140px 252px, cover;

  @media screen and (min-width: 1200px) {
    background-image: url(../images/boots-bg.jpg); 
    background-size: cover;
    background-position: center;
  }

  &__container {
    position: relative;

    padding-top: 21px;
    padding-bottom: 25px;

    @media screen and (min-width: 1200px) {
      padding-top: 42px;
      padding-bottom: 97px;
    }
  }

  &__box {
    display: flex;
  }

  &__img {
    width: 297px;
    height: 143px;

    @media screen and (min-width: 1200px) {
    width: 835px;
    height: 400px;
    }

  }

  &__title {
    margin-left: auto;

    font-family: "Playfair Display";
    font-size: 28px;
    line-height: 1.35;
    color: $main-color;
  }

  &__content {
    padding-left: 55px;
    padding-top: 38px;


  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 26px 65px;
    width: 715px;
    height: 85px;

    background: linear-gradient(91.33deg, #8e32c6 15.44%, #d600c0 69.67%);
    border-radius: 15px;
  }

  &__text {
    font-family: $main-font;
    font-size: 28px;
    line-height: 1.18;
    color: $main-color;
  }

  &__border {
    position: absolute;
    top: 258px;
    right: 371px;

    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  &__line {
    display: none;
    position: absolute;
    top: 95px;
    right: -11px;

    width: 403px;
    height: 183px;

    @media screen and (min-width: 1200px) {
      display: block;
    }
  }
}