.proses__section {
  padding-top: 55px;
  padding-bottom: 80px;

  background-image: url(../images/proses-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  .proses__list {
    display: flex;
    justify-content: center;
    gap: 90px;

    .proses__item {
      width: 300px;
      height: 470px;

      background-image: url(../images/proses-line.png);
      background-repeat: no-repeat;
      background-position: center;

      .proses__box {
        display: flex;
        align-items: center;

        .proses__text {
          font-family: "Salsa";
          font-size: 170px;
          /* line-height: 1.69; */
          color: $main-color;
        }

        .proses__title {
          margin-left: 5px;

          font-family: "Playfair Display";
          font-size: 36px;
          line-height: 1.33;
          color: $main-color;
        }
      }
    }
  }
}
