.proses {
  padding-bottom: 11px;

  background-color: #021635;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 1200px) {
    padding-top: 56px;
    padding-bottom: 80px;
    background-image: url(../images/proses-bg.jpg);
    background-color: transparent;
  }

  &__list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    gap: 25px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 90px;

    }
  }

  &__item {
    width: 300px;
    height: 470px;

    background-image: url(../images/proses-line.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__text {
    font-family: "Salsa";
    font-size: 170px;
    /* line-height: 1.69; */
    color: $main-color;
  }

  &__title {
    margin-left: 5px;

    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 1.33;
    color: $main-color;
  }
}