.reviews {
  padding-top: 30px;
  padding-bottom: 88px;

  background-image: url(../../images/reviews-bc.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__title {
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: $main-color;
}

.reviews__list {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  gap: 93px;
}

.reviews__item {
  padding: 49px 14px 29px 13px;
  width: 255px;
}

.reviews__item:nth-child(1) {
  border-radius: 15px;
  background: linear-gradient(
    136.55deg,
    #00e5e6 7.29%,
    #00a8f7 26.04%,
    #9a76f9 62.5%,
    #cc5ec2 100%
  );
}

.reviews__item:nth-child(2) {
  border-radius: 15px;
  background: linear-gradient(
    136.55deg,
    #ff68b4 0%,
    #ff45e1 26.04%,
    #ce3aff 62.84%,
    #8961ff 100%
  );
}

.reviews__item:nth-child(3) {
  border-radius: 15px;
  background: linear-gradient(
    142.67deg,
    #ffe128 0%,
    #ff9b5c 30.21%,
    #ff8381 63.29%,
    #ff5489 100%
  );
}

.reviews__text {
  font-family: $main-font;
  font-size: 24px;
  line-height: 1.17;
  color: $main-color;
}

.reviews__time {
  display: block;
  margin-top: 8px;
  margin-bottom: 47px;

  font-family: $main-font;
  font-size: 14px;
  line-height: 1.14;
  color: #d8d8d8;
}

.who-img-revievs {
  display: flex;
}

.reviews__photo {
  width: 31px;
  height: 31px;
}

.who-reviews {
  margin-left: 5px;
}

.reviews__name {
  margin-bottom: 1px;

  font-family: $main-font;
  font-size: 14px;
  line-height: 1.14;
  color: $main-color;
}

.reviews__info {
  font-family: $main-font;
  font-size: 12px;
  line-height: 1.17;
  color: #d8d8d8;
}
