.header {
  padding-top: 30px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  
  @media screen and (min-width:1200px) {
    background-color: #012d63;
  }

  &__container {
    display: flex;
    align-items: center;
  }
  
  &__nike {
    width: 100px;
    height: 60px;
  }

 &__menu{
    border: none;
    background-color: transparent;
    width: 45px;
    height: 25px;
    margin-left: auto;

    @media screen and (min-width: 1200px){
      display: none;
    }
  }

&__svg{
  width: 45px;
  height: 25px;
  fill: #8E32C6;
}
  
  &__pages {
    display: none;
    gap: 29px;
    margin-left: 152px;
    padding-bottom: 33px;

    @media screen and (min-width: 1200px){
      display: flex;
    }
  }
  
  &__link {
    font-family: $main-font;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;
    color: #c7c7c7;
  }
  
  &__list {
    display: none;
    gap: 12px;
    margin-left: auto;
    padding-bottom: 33px;

    @media screen and (min-width: 1200px){
      display: flex;
    }
  }
  
  &__item {
    font-family: $main-font;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;
  
    color: #dcdcdc;

  }
}

